body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #222222;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    a {
        color: white;
        text-decoration: none;
    }
}

html {
    scroll-behavior: smooth;
}