.footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #034780;
    padding: 2rem 6rem;

    img {
        width: 8rem;
        cursor: pointer;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 14px;

        li {
            list-style: none;
        }

        a {
            margin-left: 5px;
            text-decoration: none;

            &:hover {
                color: #2ca0ff;
                text-decoration: underline;
            }
        }
    }
}